@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
	font-family: 'DM Sans', sans-serif;
}

/* Paleta de cores principal */
:root {
	--finup-azul-escuro: #0c2d57;
	--finup-azul-medio: #2c62a7;
	--finup-laranja: #fc6736;
	--finup-amarelo: #ffad60;
	--finup-azul-claro: #eae5ff;
	--finup-azul-hover: #071d38;
	--finup-laranja-hover: #b4360c;
}

/* Personalização de variáveis do Bootstrap */
.dropdown-menu#sidebar-dropdown {
	--bs-dropdown-bg: var(--finup-azul-escuro);
	--bs-dropdown-link-hover-bg:#ffffff09;
}

div#content.container-fluid, div#wrapper.container-fluid, div#principal.row, div#rodape2.row {
	--bs-gutter-x: 0;
}

main {
	min-height: 85vh;
}

.content-wrapper {
	padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

@media screen and (min-width: 500px) {
	.content-wrapper {
		padding: 3rem 2rem;
	}
}

@media screen and (min-width: 992px) {
	.content-wrapper {
		padding: 3rem;
	}
}

/* Ícones do Google Fonts */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


/* Botões */
.btn.btn-primary-finup {
	background-color: var(--finup-azul-escuro) !important;
	border: solid 1px var(--finup-azul-escuro) !important;
	color: white !important;
	transition: ease-in-out .2s;
}

.btn.btn-primary-finup:hover {
	background-color: var(--finup-azul-hover) !important;
	border: solid 1px var(--finup-azul-hover) !important;
	color: white !important;
}

.btn-primary-outlined-finup {
	border: solid 1px var(--finup-azul-escuro) !important;
	color: var(--finup-azul-escuro) !important;
	transition: ease-in-out .2s !important;
}

.btn-primary-outlined-finup:hover {
	background-color: var(--finup-azul-escuro) !important;
	color: white !important;
}

.btn-secondary-finup {
	background-color: var(--finup-laranja) !important;
	border: solid 1px var(--finup-laranja) !important;
	color: white !important;
	transition: ease-in-out .2s !important;
}

.btn-secondary-finup:hover {
	background-color: var(--finup-laranja-hover) !important;
	border: solid 1px var(--finup-laranja-hover) !important;
}

.btn-secondary-outlined-finup {
	border: solid 1px var(--finup-laranja) !important;
	color: var(--finup-laranja) !important;
	transition: ease-in-out .2s !important;
}

.btn-secondary-outlined-finup:hover {
	background-color: var(--finup-laranja) !important;
	color: white !important;
}

#index-wrapper {
	background-color: var(--finup-azul-escuro);
	min-height: 100%;
	padding-top: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#index-wrapper img {
	width: 100%;
}


/* Cabeçalho */
header {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: sticky;
    top: 0;
	background-color: var(--finup-azul-escuro);
	z-index: 1;
}

@media screen and (min-width: 992px) {
	header {
		display: flex; 
		justify-content: end; 
		background-color: white; 
		padding: 10px;
	}
}

/* Barra lateral */
#lateral, .offcanvas-header, .offcanvas-body {
	background-color: var(--finup-azul-escuro);
}

@media screen and (min-width: 992px) {
	#lateral {
		background-color: var(--finup-azul-escuro);
	}
}

#logotipo-sidebar {
    max-width: 150px;
	margin-bottom: 2rem;
}

#logotipo-sidebar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (min-width: 1200px) {
	#logotipo-sidebar {
		max-width: 200px;
	}

	#sidebar-nav {
	padding-left: 2rem;
	}
}


#sidebar-nav {
    position: fixed;
    top: 0;
	padding-top: 2rem;
	padding-left: 1.5rem;
}

.nav-link:hover span{
    color: var(--finup-laranja);
}

.offcanvas-body span {
    color: #ffff;
}

.sidebar-item {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 110%;
}

/*Rodapé*/
#rodape2 {
	background-color: var(--finup-azul-medio); 
	width: 100%; 
	padding: 20px; 
	color: #fff;
	position: relative;
	bottom: 0; 
}
  
.simple-footer2 {
	display: flex;
	justify-content: space-between; 
	align-items: center; 
	width: 100%;
	margin: 0 auto; 
}
  
.simple-footer2 img {
	max-height: 50px;
}

@media (max-width: 768px) {
	.simple-footer2 {
		flex-direction: column; 
		text-align: center; 
	}
  
	.simple-footer2 img {
		margin-bottom: 10px; 
	}
}
  
.footer-bottom p {
	margin: 0; 
	font-size: 14px; 
}


/*Notificações*/
#notificationList .notificacao {
	display: flex;
	justify-content: space-between;
}

#txtNew {
	margin-right: 1rem;
}

#notificationList button {
	border: none;
	color: #888;
	background-color: transparent;
	padding: 0;
	font-size: 20px;
	vertical-align: middle;
}

#notificationList .notificacao-oculta {
	display: none;
}

#notificationList .icon-lidas:hover {
	color: green;
}

#notificationList .icon-delete:hover {
	color: red;
}

#notificationList .icone-informativo {
	vertical-align: middle;
	margin-right: 0.5rem;
}

#notificationList .icon-danger {
	color: red;
}

#notificationList .icon-warning {
	color: yellow;
}

#notificationList .icon-info {
	color: blue;
}

#notificationList .icon-check {
	color: green;
}

#notificationList .data-notificacao {
	font-size: 14px;
	color: #999;
	margin-left: 1rem;
}

#notificationList .notificacao a{
	text-decoration: none;
	color: black;
}

#notificationList .notificacao-lida a, #notificationList .notificacao-lida .icone-informativo {
	color: #888;
}

@media (max-width: 992px) {
    .nav-item .nav-link i.bi-bell {
        color: #fff;
    }
}