@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* Estilos gerais */
body {
    background-color: #e0e8f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Paleta de cores principal */
:root {
	--finup-azul-escuro: #0c2d57;
	--finup-azul-medio: #2c62a7;
	--finup-laranja: #fc6736;
	--finup-amarelo: #ffad60;
	--finup-azul-claro: #eae5ff;
}

/* #controle-financeiro {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
} */

/* Botões */
.header-buttons {
    display: flex;
    gap: 1.2rem;
}

#transaction-form {
    row-gap: 1rem;
}

#submit-transaction {
    background-color: var(--finup-azul-escuro);
    color: white;
    width: 100%;
}

/* Área de ganho e despesa */
#entry-form {
    width: 90%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

tr button {
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px red;
    color: red;
    font-size: 14px;
    padding: 0.2rem 1rem;
}

tr button:hover {
    background-color: red;
    color: white;
}

/* Estilo para a seção da categoria */
#categories {
    display: grid;
    row-gap: 4rem;
}

.transaction-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    overflow: hidden;
    padding: 1rem;
}

.category {
    padding: 1.2rem 1.5rem;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.category-toggle {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.category-name {
    color: var(--finup-azul-escuro);
    font-weight: 600;
}

.category-name i {
    color: var(--finup-laranja);
    margin-right: 10px;
}

/* Estilo para o botão de remoção */
.remove-row {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.remove-row:hover {
    background-color: #c0392b;
}